main-color = #fffb9f
main-color-disabled = darken(desaturate(main-color, 80%), 50%)
main-color-light = lighten(main-color, 50%)
border-main-color-light = desaturate(darken(main-color-light, 20%), 50%)
border-main-color = darken(main-color, 10%)
bg-color = #352b40

@font-face
  font-family 'aleoregular'
  src url('Aleo-Regular-webfont.woff') format('woff')
  font-weight normal
  font-style normal

body
  font-family 'aleoregular'
  background-color bg-color
  color main-color

.btn-primary
  background-color main-color
  color bg-color
  border-color border-main-color

  &:hover
    background-color bg-color
    color main-color
    border-color border-main-color

  &:disabled
    background-color main-color-disabled
    border-color main-color-disabled
    cursor not-allowed

.alert-primary
  background-color main-color-light
  color bg-color
  border-color border-main-color-light

#anim
  background-color white
  height 20em

textarea
  height 20em
